body {
    margin: 0;
    overflow: hidden;
}

.game-container {
    width: 100vw; /* 使用相對於視窗寬度的百分比 */
    height: 100vh; /* 使用相對於視窗高度的百分比 */
    background-image: url('BG.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#character {
    width: 15%;
    padding-top: 15%; /* 9 / 16 * 100% */ /* 設定寬高比，此處假設 1:1，你可以根據實際情況調整這個值 */
    background-image: url('stand-left.png');
    background-size: cover;
    position: absolute;
    bottom: 3%; /* 調整這個值以改變角色距離底部的高度 */
    left: 50%;
    transform: translateX(-50%);
}